.App {
  max-width: 400px;
  max-height: 320px;
  padding: 1em;
}

.clips-ico {
  width: 10%;
  height: auto;
  color: #113ba7;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px
}

.header h2 {
  padding: 0;
  margin: 0;
  color: rgb(235, 220, 220);
}

.card {
  height: 40px;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: #2B59C3;
}

.card:hover {
  background-color: #507bfd;
}

.card button {
  height: 100%;
  background-color:red;
  color: white;
  border-radius: 5%;
}

.card-wrapper {
  height: 180px;
  margin-top: 1.5%;
  overflow: auto;
  border: solid;
  border-width: 5px;
  border-image: repeating-linear-gradient(45deg, white, #868686) 1;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.form input {
  width: 100%;
  height: 22px;
  border: 0;
  background-color: #113ba7;
  color: rgb(201, 201, 201);
  margin-top: 1%;
}

.form input:focus {
  outline-width: 0;
}

::placeholder {
  color: rgb(201, 201, 201);
}

button {
  border: 0;
  background-color: #525B76;
  color: #869D96;
}

button::placeholder {
  color: rgb(235, 220, 220);
}

.form button {
  border: 0;
  background-color: green;
  color: white;
  border-radius: 5%;
}

.info {
  text-align: center;
}
