.App {
  max-width: 400px;
  max-height: 320px;
  padding: 1em;
}

.clips-ico {
  width: 10%;
  height: auto;
  color: #869D96;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px
}

.header h2 {
  padding: 0;
  margin: 0;
  color: #C4F1BE;
}

.card {
  height: 80px;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid grey;
}

.card:hover {
  background-color: #788099;
}

.card button {
  height: 100%;
}

.card-wrapper {
  height: 180px;
  overflow: auto;
  border: solid;
  border-width: 5px;
  border-image: repeating-linear-gradient(45deg, #C4F1BE, #868686) 1;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.form input {
  width: 100%;
  height: 22px;
  border: 0;
  background-color: #525B76;
  color: #869D96;
}

.form input:focus {
  outline-width: 0;
}

::placeholder {
  color: #b6b8b6;
}

button {
  border: 0;
  background-color: #525B76;
  color: #869D96;
}

button::placeholder {
  color: #C4F1BE;
}

.form button {
  border: 0;
}

.info {
  text-align: center;
}
