.App {
  max-width: 400px;
  max-height: 300px;
  padding: 1em;
}

.clips-ico {
  width: 10%;
  height: auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  padding: 0;
  margin: 0;
}

.card {
  height: 85px;
  padding: 1%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.card-wrapper {
  width: 100%;
  height: 170px;
  overflow: auto;
  border: solid black 1px;
}
